@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
*{
    padding: 0px;
    margin: 0px;
}
body {
    height: 100vh;
    background-color: rgb(92, 126, 238);
    background-image: url('imagens/background.png');
    background-size: cover;
    background-position: right center;
    background-attachment:fixed;
    color: white;
}
section{
    height: 100vh;
    width: 90vw;
    margin: auto;

}
#container{
    margin: auto;
    overflow: scroll;
}
h1{
    font-family:'Fredericka the Great', serif;
    font-variant: small-caps;
    font-size: 2.5em;
    font-weight: 500;
    margin: auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
    text-align: center; 
    color:#f4f5edf5;
    text-shadow:1px 1px 1px white;


}
table {
    margin: auto;
    background-image: linear-gradient(#f8fafcbe, rgba(128, 126, 126, 0.336));
    border-radius: 12px;
    border-collapse: separate;
    background-color: #cad3db00;
    font-weight: bolder;
    text-align: left;
    white-space: nowrap;
    border-spacing: 15px;
    padding: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.411);
}
thead{
    color: #474E56;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
}
thead tr{
    height: 10px;
    
}
tbody{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.658);
    font-family: cursive;
    font-weight: bolder; 
    font-size:1em;
}
th {
    text-align: center;
    padding: 5px;
    margin: 2px;

}
td{
    background-color: #547eaba2;
    border-bottom: 2px solid #474E56;
    border-radius: 20px;
    padding: 10px;
    margin: 2px;
    height: 15px;
   
}
.col3{
    text-align: center;
    background-color:#ab5a54b7;
    font-family: cursive;

}
